body {
    padding-top: 10px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-header{
}


#bs-example-navbar-collapse-1{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #000000;
  }

 li {
    float: left;   
  }

.card {
    padding-top: 50px;
}

 .itemNav {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    font-size: 24px
  }

 .lead{
 	font-size: 48px;
 	text-align: center;
 }

 .pull-right{
 	margin-right: 15px;
 }

#price{
	border-radius: 8px;
	background-color: black;
	color: white;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}